@use './variables' as v;
@use './mixins' as m;

.advan-contain {
    background-color: #ffffff;

    &__header__top {
        padding: 2rem 0 1rem 2rem; 
        @include m.flexCenter();
    }
    
    &__top__line {
        border-top: 2px solid v.$lightGray;
        width: 100%;
    }

    &__form {
        padding: 2rem 2rem 6rem 2rem ;

        &__title {
            margin-bottom: 2rem;
        }

        &__line {
            @include m.flexCenter();
            justify-content: space-between;
            flex-wrap: wrap;
            width: 60rem;
            max-width: 90vw;
            height: 4rem;
            margin-bottom: 1.5rem;

            &__select__day {
                width: 9rem;
            }

            &__input-time {
                width: 7rem;
            } 
        }


        &__amount {
            @include m.flexCenter();
            flex-direction: column;
            align-items: flex-start;
            margin-left: 2rem;
            justify-content: space-between;
            height: 4rem;

            &__check-contain {
                @include m.flexCenter();
                margin-bottom: .8rem;
            }

            &__check {
                width: 3rem;
                margin-top: 0;
            }
        }


    }

}